<!-- <h1>Display</h1>-->
<div style="padding-left:20px; padding-top:20px;">Interim</div>
<textarea id="speech-page-content" style="width:500px; font-size:20px; padding: 10px; margin:20px; color:#777; opacity:0.5" name="pageContent" ></textarea>
<div style="padding-left:20px; padding-top:20px;">Result</div>
<textarea type="text" class="text" style="width:500px; font-size:20px; padding: 10px; margin:20px; opacity:0.5"></textarea>

<!-- <span href="" class="button">Test sentence</span>  -->

<div id="movement-temp"></div>