body {
	font-family: "AkkuratStd";
	background: #fefefe;
	margin:0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
  color: white;
}



//---------------------------------------------------------------------------------------
//	Display view
//---------------------------------------------------------------------------------------

#movement-temp {
  position: absolute;
  background: none;
  left:45%;
  width: 100px;
  height:100px;
  border-radius:100%;
  border:5px solid black;
  //transition:.2s all;
  //-webkit-transform: translate3d(0,0,0);
  //-webkit-animation: breathing 1s infinite alternate;
}


//---------------------------------------------------------------------------------------
//  Camera view
//---------------------------------------------------------------------------------------


.camera {
  transition: .2s;
  &.hidden {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    display:none;
  }
}


.table {
  background:#f8f8f8;
  width:200px;
  border-radius: 3px;
}
.tableName {
  display:inline-block;
  width:100px;
  padding:12px 10px 10px 10px;
}
.tableValue {
  display:inline-block;
  text-align: right;
  padding:12px 10px 10px 10px;
  width: 100px;
  color: aqua;
  background-color: #333;
}


//---------------------------------------------------------------------------------------
//  stats
//---------------------------------------------------------------------------------------

.stats {
  color:white;
  position: absolute;
  width: 50%;
  display:block;
  background:rgba(teal,.2);
  //background:transparent;
  height:100%;
  transition: .4s;
  z-index:9999;
  opacity: 1;
  &.hidden {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
  }
  textarea {
    font-family: monospace;
    display:block;
    box-sizing: border-box;
    background: rgba(#000,.5);
    color:orange;
    width:95%; 
    font-size:12px; 
    padding: 10px; 
    margin:20px;
    border:none;

    &.text {
      color:#66FF66;
    }
  }
}

.links {
  padding: 20px;
  a {
    margin-right: 20px;
    cursor:pointer;
    &:hover {
      color:aqua;
    }
  }
}

//---------------------------------------------------------------------------------------
//  Content bubble
//---------------------------------------------------------------------------------------

.content {
  display:block;
  color:#666;
  position: absolute;
  width:500px;
  height: 500px;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  left:-webkit-calc( 50% - 250px);
  top:-webkit-calc( 50% - 250px);
  //-webkit-filter: blur(0px);
  //-webkit-transition-delay: 0s;
  transition:2s;
  &.hidden {
    //opacity: 0;
    //-webkit-filter: blur(5px);
    //-webkit-transition-delay: 1s;
  }
  .content-body {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
  }
  .big {
    font-size: 50px;
  }
}

//---------------------------------------------------------------------------------------
//	Keyframes
//---------------------------------------------------------------------------------------

@-webkit-keyframes breathing {
	0% 		{-webkit-transform: translateX(-100px)}
	100% 	{-webkit-transform: translateX(100px)}
}

//---------------------------------------------------------------------------------------
//	circle
//---------------------------------------------------------------------------------------

container{
  position:relative;
  background:red;
}

.halo{
  //transition: .4s all;
  -webkit-transform-style: preserve-3d;
    &.input{
    width:100px;
    height:100px;
      &:before{
        width:100px;
        height:100px;
      }
  }
}

@mixin rotator($color) {
  position: absolute;
  left:50%;
  top: 50%;

  // holy glitch, batman!
  // mix-blend-mode: screen;
  // -webkit-filter: blur(5px);

  -webkit-transform: translate3d(-50%, -50%,0) scale(1);
  //border:1px solid rgba($color,1);
  border:none;
  border:10px solid rgba($color,.5);
  // box-shadow:
  //   0 0 20px rgba($color,.1),
  //   0 0 50px rgba($color,.1),
  //   inset 0 0 20px rgba($color,.1),
  //   inset 0 0 50px rgba($color,.1)
  //   ;
  // box-shadow:
  //   0 0 30px rgba($color,.3),
  //   0 0 60px rgba($color,.3),
  //   inset 0 0 30px rgba($color,.3),
  //   inset 0 0 60px rgba($color,.3)
  //   ;
  // box-shadow:
  //   0 0 60px rgba($color,.3),
  //   inset 0 0 60px rgba($color,.3)
  //   ;
  border-radius:100%;
  width: 200px;
  height: 200px;

  // &:before{
  //   -webkit-transform-style: preserve-3d;
  //   content:"";
  //   position:absolute;
  //   width:200px;
  //   height:200px;
  //   border-radius:100%;
  //   border:1px solid rgba($color,.3);
  //   box-shadow:
  //   0 0 20px rgba($color,.1),
  //   0 0 50px rgba($color,.1),
  //   inset 0 0 20px rgba($color,.1),
  //   inset 0 0 50px rgba($color,.1)
  //   ;
  //   -webkit-animation: rotate 3.5s infinite alternate-reverse;
  // }
}

.mood{
  @include rotator(aqua);
}

.ring-1 {
  @include rotator(#FF00FF);
  // width:180px;
  // height:180px;
  //-webkit-animation: rotate 3.5s infinite alternate-reverse;
}
.ring-2 {
  @include rotator(aqua);
  -webkit-animation: rotate-2 4s infinite alternate;
}
.ring-3 {
  @include rotator(aqua);
  //-webkit-animation: rotate-2 4s infinite alternate;
}
.ring-4 {
  @include rotator(aqua);
  //-webkit-animation: rotate 7s infinite alternate-reverse;
}
.ring-5 {
  @include rotator(#FF00FF);
  -webkit-animation: rotate 15s infinite alternate;
}
.ring-6 {
  @include rotator(aqua);
  //-webkit-animation: rotate 2s infinite alternate-reverse;
}
.ring-7 {
  @include rotator(aqua);
  //-webkit-animation: rotate-2 5s infinite alternate;
}
.ring-8 {
  @include rotator(#FF00FF);
  -webkit-animation: rotate 3s infinite alternate-reverse;
}


@-webkit-keyframes rotate
{
  0% {-webkit-transform: translate3d(-50%, -50%,0) rotate(360deg) scaleX(.9)}
  100% {-webkit-transform: translate3d(-50%, -50%,0) rotate(120deg) scaleX(1.09) }
}
@-webkit-keyframes rotate-2
{
  0% {-webkit-transform: translate3d(-50%, -50%,0) rotate(360deg) scaleX(.9) }
  100% {-webkit-transform: translate3d(-50%, -50%,0) rotate(90deg) scaleX(1.1) }
}